.contact-container {
    background-color: none;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.contact-content {
    height: 446px;
    width: 670px;
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

.contact-heading {
    padding: 0;
    margin: 130px 0 0 0 ;
}
.contact-heading-box{
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contact-heading h4 {
    font: 700 46px/40px "Inria Sans";
    letter-spacing: 1px;
    color: #ffffff;
    margin: 0;
}

.contact-heading p {
    font: 300 16px/20px "Inria Sans";
    letter-spacing: 1px;
    padding: 10px 10px 10px 10px;
    color: #B3B3B3;
    margin: 0;
}

.contact-button {
    padding-top: 20px;
    margin-bottom: 10px; 
    width: 100%;
    box-sizing: border-box;
    margin-right: 10px;
    transition: all 0.3s;
}

.contact-button a {
    display: inline-block; 
    padding: 10px 30px; 
    font: 700 16px/20px 'Inria Sans';
    color: #ffffff;
    border: 1px solid #09cd92; 
    border-radius: 5px; 
    text-decoration: none; 
    transition: all 0.3s;
    text-align: center; 
    letter-spacing: 1px;
    position: relative;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.contact-button a:hover {
    color: #09cd92;
    transform: translateY(2px);
}
.pdf a{
    color: #09cd92;
    font: 300 16px/20px 'Inria Sans';
    letter-spacing: 1px;
    transition: all 0.3s;
}
.pdf a:hover{
    color: #ffffff;
    transform: translateY(2px);
}

@media(max-width:790px){
    .contact-content {
        padding: 22px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
 
}
@media (max-width:490px){
    .contact-heading h4 {
        font-size: 40px
    }
    
    .contact-heading p {
        font-size: 14px;
    }
    .pdf a{
        font-size: 14px;
    }
 
}
